<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" class="sidenav-bar">
    <div class="center">
      <img src="assets/images/angular.svg" width="50" height="50" class="padding-10">
    </div>

    <mat-divider></mat-divider>

    <mat-list role="list">
      <a mat-list-item role="listitem" (click)="sidenav.close()" [routerLink]="['/']" class="sidenav-link">
        <mat-icon matListIcon>home</mat-icon>
        <span class="sidenav-span">Home</span>
      </a>
      <a mat-list-item role="listitem" (click)="sidenav.close()" [routerLink]="['clientes']" class="sidenav-link">
        <mat-icon matListIcon>accessibility</mat-icon>
        <span class="sidenav-span">Clientes</span>
      </a>
      <a mat-list-item role="listitem" (click)="sidenav.close()" [routerLink]="['productos']" class="sidenav-link">
        <mat-icon matListIcon>star</mat-icon>
        <span class="sidenav-span">Productos</span>
      </a>
      <a mat-list-item role="listitem" (click)="sidenav.close()" [routerLink]="['ventas']" class="sidenav-link">
        <mat-icon matListIcon>add_shopping_cart</mat-icon>
        <span class="sidenav-span">Ventas</span>
      </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>StoreApp</span>

      <span class="menu-spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon> Mi Perfil
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
        </button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>