.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-bar {
    width: 250px;
}

.sidenav-link {
    text-decoration: none;
    cursor: pointer;
}

.sidenav-span {
    margin-left: 15px;
}

.menu-spacer {
    flex: 1 1 auto;
}