<mat-toolbar>
    <span>Agregar Venta</span>
</mat-toolbar>

<div class="container-app" *ngIf="personas && productos">
    <form autocomplete="off" #ventaForm="ngForm" [formGroup]="form" (ngSubmit)="guardar()">
        <div formGroupName="venta">
            <mat-grid-list [cols]="breakpoint" rowHeight="6:1" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" [max]="maxFecha" formControlName="fecha"
                            placeholder="Fecha" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill" formGroupName="persona">
                        <mat-select formControlName="idPersona" placeholder="Cliente">
                            <mat-option *ngFor="let persona of personas" value={{persona.idPersona}}>
                                {{persona.nombres + ' ' + persona.apellidos}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <input matInput type="number" formControlName="importe" placeholder="Importe" readonly>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div formArrayName="list_detalle_venta" style="margin-bottom:60px;">
            <button mat-raised-button color="primary" type="button" class="btnAgregarProducto" (click)="agregarItem()">
                <span>+ Agregar Producto</span>
            </button>
            <table style="width:100%;" *ngIf="list_detalle_venta.controls.length > 0">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let control of list_detalle_venta.controls; let i = index;" [formGroupName]="i">
                        <td>
                            <mat-form-field appearance="fill" formGroupName="producto">
                                <mat-select formControlName="idProducto" placeholder="Producto"
                                    (selectionChange)="seleccionarProducto(i)">
                                    <mat-option *ngFor="let prod of productos" value={{prod.idProducto}}>
                                        {{prod.nombre + ' ' + prod.marca}}
                                        <span *ngIf="prod.idProducto">
                                            - Precio: {{prod.precio | currency: 'USD'}}
                                        </span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <input matInput type="number" formControlName="cantidad" placeholder="Cantidad"
                                    (keyup)="calcularImporte()">
                            </mat-form-field>
                        </td>
                        <td style="text-align:center;">
                            <button mat-fab color="warn" type="button" (click)="borrarItem(i)" [disabled]="i==0">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button mat-raised-button color="primary" type="submit" [disabled]="ventaForm.invalid">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>

        <button mat-raised-button color="warn" type="button" [routerLink]="['/ventas']" style="margin-left:10px;">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
    </form>
</div>